.blog-header{
    font-family: cursive;
}
.blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog{
    border: 1.5px solid indigo;
    border-radius: 8px;
    width: 70%;
    margin: 20px 0;
}